<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>
<h1>Task Manager</h1>
<form action="#" th:action="@{/tasks-ui}" th:object="${newTask}" method="post">
    <p>Title: <input type="text" name="title" th:field="*{title}" /></p>
    <p><input type="submit" value="Add Task" /></p>
</form>
<h2>Existing Tasks</h2>
<ul th:if="${!tasks.isEmpty()}">
    <li th:each="task : ${tasks}" th:text="${task.title}">Task Title</li>
</ul>
<p th:if="${tasks.isEmpty()}">No tasks yet.</p>
</body>
</html>